{% extends "base.html" %}
{% load static %}

{% block title %}Monthly Challenge - {{ month|title }}{% endblock %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "challenges/includes/header.css" %}"/>
    <link rel="stylesheet" href="{% static "challenges/challenge.css" %}"/>
{% endblock %}
{% block body %}
    {% include "challenges/includes/header.html" %}

    <h1>Your {{ month|title }}'s challenge</h1>
    {% if text is not None %}
        <h2>{{ text }}</h2>
    {% else %}
        <p class="fallback">There is no challenge for this month! Yay!</p>
    {% endif %}
{% endblock %}