{% extends "base.html" %}
{% load static %}

{% block title %}All Challenges{% endblock %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "challenges/includes/header.css" %}"/>
    <link rel="stylesheet" href="{% static "challenges/index.css" %}"/>
{% endblock %}
{% block body %}
    {% include "challenges/includes/header.html" %}
    <ul>
        {% for month in months %}
            <li><a href="{% url "month-challenge" month=month %}">{{ month|title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}