{% extends "base.html" %}

{% load static %}

{% block title %}Blog - All Posts{% endblock %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/all-posts.css" %}" />
    <link rel="stylesheet" href="{% static "blog/post.css" %}" />
{% endblock %}
{% block body %}
    <section id="all-posts">
        <h2>My Collected Posts</h2>

        <ul>
            {% for post in all_posts %}
                {% include "blog/includes/post.html" %}
            {% endfor %}
        </ul>
    </section>
{% endblock %}