{% extends "base.html" %}
{% load static %}

{% block title %}Blog - Starting Page{% endblock %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}" />
    <link rel="stylesheet" href="{% static "blog/post.css" %}" />
{% endblock %}
{% block body %}
    <section id="welcome">
        <header>
            <img src="{% static "blog/images/anton.jpg" %}" alt="Anton - The Author of this blog" />
            <h2>ANTON'S BLOG</h2>
        </header>
        <p>Hi, I am Anton and I love to blog about my biggest passion, the programming!</p>
    </section>
    
    <section id="latest-posts">
        <h2>My latest thoughts</h2>

        <ul>
            {% for post in posts %}
                {% include "blog/includes/post.html" %}
            {% endfor %}
        </ul>
    </section>

    <section id="about">
        <h2>What I do</h2>
        <p>
            I love programming, game design and teaching and I enjoy
            exploring new technologies and methods!
        </p>
        <p>
            In my perspective I am a Software Engineer with a current focus
            but not limited to a specific tech stack. Staying hungry and curious
            for other technologies and frameworks will always be of value to
            profit from newest knowledge and understanding independent of 
            the boundaries of the currently chosen technology.            
        </p>
    </section>
{% endblock %}