{% extends "base.html" %}
{% load static %}

{% block title %}Blog - {{ post.title }}{% endblock %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post-detail.css" %}" />
{% endblock %}
{% block body %}

    {% if comment_form.errors %}
        <div id="alert">
            <h2>Saving the comment failed!</h2>
            <p>Please check the comment form below the post and fix your errors.</p>
            <a href="#comment-form">Fix!</a>
        </div>
    {% endif %}

    <section id="summary">
        <h2>{{ post.title }}</h2>
        <div>
            {% for tag in post_tags  %}
                <span class="tag">{{ tag }}</span>
            {% endfor %}
        </div>
        <div id="read-later">
            <form action="{% url "read-later" %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ post.id }}" name="post_id"/>
                <button>
                    {% if is_saved %}
                        Remove from "Read Later" List
                    {% else %}
                        Read Later
                    {% endif %}
                </button>
            </form>
        </div>
        <article>
            <img src="{{ post.image.url }}" alt="{{ post.title }}" />
            <address>By <a href="mailto:{{ post.author.email_address }}">{{ post.author }}</a></address>
            <div>
                Last updated on <time>{{ post.date|date:"d M Y" }}</time>
            </div>
        </article>
    </section>

    <main>
        {{ post.content|linebreaks }}
    </main>

    <section id="comments">
        <ul>
            {% for comment in comments %}
                <li>
                    <h2>{{ comment.user_name }}</h2>
                    <p>{{ comment.text|linebreaks }}</p>
                </li>
            {% endfor %}
        </ul>
    </section>

    <section id="comment-form">
        <h2>Your Comment</h2>
        <form actiion="{% url "post-detail-page" post.slug %}" method="post">
            {% csrf_token %}
            {% for form_field in comment_form %}
                <div class="form-control {% if form_field.errors %}invalid{% endif %}">
                    {{ form_field.label_tag }}
                    {{ form_field }}
                    {{ form_field.errors }}
                </div>
            {% endfor %}
            <button>Save Comment</button>
        </form>
    </div>
{% endblock %}