{% extends "base.html" %}
{% load static %}

{% block title %}
My Stored Posts
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/stored-posts.css" %}">
{% endblock %}

{% block body %}
    <section id="stored-posts">
        {% if has_posts %}
        <ul>
            {% for post in posts %}
                <li><a href="{% url "post-detail-page" post.slug %}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            No stored posts yet
        {% endif %}
    </section>
{% endblock %}