<li>
    <article class="post">
        <a href="{% url "post-detail-page" post.slug %}">
            <img src="{{ post.image.url }}" alt="{{post.title}}" />
            <div class="post__content">
                <h3>{{ post.title }}</h3>
                <p>{{ post.excerpt }}</p>
            </div>
        </a>
    </article>
</li>