header {
    width: 100%;
    height: 3rem;
    background-color: #2e2e2e;
}

header nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    color: rgb(196, 196, 196);
    font-size: 1rem;
    font-weight: bold;
    text-decoration:  none;
}

header nav a:hover,
header nav a:active {
    color:rgb(239, 130, 15)
}