{% extends "base.html" %}

{% block title %}Page not found{% endblock %}
{% block css_files %}{% endblock %}
{% block body %}
    <h2>Oops!</h2>
    <p>The requested page could not be found!</p>
{% endblock %}