{% extends "base.html" %}

{% block title %}Page not found!{% endblock %}
{% block body %}
    <h1>We could not find that page!</h1>
    <p>Sorry, but we could not find a matching page!</p>
{% endblock body %}