{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Challenges{% endblock %}</title>
    <link rel="stylesheet" href="{% static "styles.css" %}"/>
    {% block css_files %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>