{% extends "reviews/base.html" %}

{% block title %}All Reviews{% endblock %}

{% block content %}
    <ul>
        {% for review in reviews %}
            <li>
                <a href="{% url "single_review_page" review.id %}">
                    {{ review.user_name }} (Rating: {{ review.rating }})
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}