{% extends "reviews/base.html" %}

{% block title %}Review from {{ review.user_name }}{% endblock %}

{% block content %}
    <p><b>Author:</b> {{ review.user_name }}</p>
    <p><b>Rating:</b> {{ review.rating }}</p>
    <p>{{ review.review_text }}</p>
    {% if is_favorite %}
        <p>This is my favorite!</p>
    {% else %}
        <form action="/reviews/favorite" method="POST">
            {% csrf_token %}
            <input type="hidden" name="review_id" value="{{ review.id }}" />
            <button>Favorite</button>
        </form>
    {% endif %}
{% endblock %}