body {
    font-family: sans-serif;
    margin: 0;
}

form {
    margin: 3rem auto;
    width: 90%;
    max-width: 30rem;
    padding: 1rem;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

button {
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    background-color: rgb(36, 0, 46);
    color: white;
    border: 1px solid rgb(36, 0, 46);
}

button:hover,
button:active {
    background-color: rgb(63, 0, 79);
    border-color: rgb(63, 0, 79);
}

.form-control {
    margin-bottom: 1rem;
}

.form-control input {
    font: inherit;
    padding: 0.25rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: block;
    width: 10rem;
}

.form-control input:focus {
    border-color: rgb(36, 0, 46);
    outline: none;
    background-color: rgb(248, 223, 255);
}

.form-control label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

.errorlist {
    list-style: none;
    margin: 0.5rem 0;
    padding: 0;
    color: rgb(93, 0, 0);
}

.errors input {
    border-color: rgb(93, 0, 0);
    background-color: rgb(255, 243, 243);
}

.errors label {
    color: rgb(93, 0, 0);
}