{% extends 'book_outlet/base.html' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}
    <h2>{{ book.title }}</h2>
    <p>From: <b>{{ book.author }}</b></p>
    <p>Rating: <b>{{ book.rating }}</b></p>
    <p>Best-Selling: <b>{% if book.is_bestselling %}Yes{% else %}No{% endif %}</b></p>
{% endblock %}