{% extends 'book_outlet/base.html' %}

{% block title %}All Books{% endblock %}

{% block body %}
    <ul>
        {% for book in books %}
            <li><a href="{% url "book_detail_page" book.slug %}">
                {{ book.title }}
            </a></li>
        {% endfor %}
    </ul>

    <hr>

    <p>Total number of books: {{ total_number_of_books }}</p>
    <p>Average Rating: {{ average_rating }}</p>
{% endblock %}