@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

html {
    font-family: 'Amatic SC', cursive;
    font-size: x-large;
}

body {
    margin: 0;
    background-color: #1a1a1a;
}