h1,
h2 {
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    margin: 2rem 0 1rem 0;
    font-weight: normal;
    color: rgb(239, 130, 15);
}

h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #7b7b7b;
}

.fallback {
    text-align: center;
    color: #7b7b7b;
}