ul {
    list-style: none;
    margin: 2rem auto;
    width: 90%;
    max-width: 20rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 20rem;
    background-color: #2d2d2d;
    
}

li {
    margin: 1rem 0;
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 1px solid #545454;
    padding-bottom: 1rem;
}

li:last-of-type,
li:nth-of-type(4),
li:nth-of-type(8) {
    border-bottom: none;
}

li a {
    text-decoration:  none;
    color: #7b7b7b;
}

li a:hover,
li a:active {
    color:rgb(239, 130, 15)
}